.formCentrar {
    margin-top: 25px;
    text-align: center;
    color: green;
}

.formDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

input {
    height: 30px;
    border-radius: 15px;
    margin: 2px;
    text-align: center;
    width: 200px;
}

input:focus {
    background-color: #7ad880;
}

input[type=submit]:hover {
    background-color: green;
    color: white;
    transform: scale(1.2);
    transition: 1.1s;
}